<!-- complete_quiz.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>{{ quiz.title }}</h2>
  <form method="post">
    {% csrf_token %}
    {% for question in quiz.questions.all %}
      <p>{{ question.question_text }}</p>
      <label><input type="radio" name="question_{{ question.id }}" value="1">{{ question.choice_1 }}</label><br>
      <label><input type="radio" name="question_{{ question.id }}" value="2">{{ question.choice_2 }}</label><br>
      <label><input type="radio" name="question_{{ question.id }}" value="3">{{ question.choice_3 }}</label><br>
      <label><input type="radio" name="question_{{ question.id }}" value="4">{{ question.choice_4 }}</label><br>
    {% endfor %}
    <button type="submit">Submit Quiz</button>
  </form>
{% endblock %}
