{% extends "training/base.html" %}
{% load static %}

{% block content %}
<section class="home">
    <div class="container mt-5">
        <h1 class="moving-text">Fuel Your Future with Knowledge</h1>
        <p>PetroTrain ensures that your employees will be trained and taught best practices withion oil & gas ...<br></p>
        <p>Explore our wide range of courses designed to enhance your skills and knowledge.</p>
        <p>Whether you're looking to advance your career or learn something new, we have the right course for you.</p>
        <p>Browse through our offerings and find the perfect fit for your learning journey.</p>
        <p>Don't miss out on the opportunity to invest in your future!</p>
        <btn class="explore">View Courses</btn>
        <!-- p will be edited , this page should just have that -->
    </div>
</section>
{% endblock %}