{% extends "training/base.html" %}
{% load static %}

{% block content %}
<section class="home d-flex align-items-center justify-content-center" style="height: 70vh;">
    <div class="text-center">
        <h1 class="text-white fw-bold mb-4" style="font-size: 4rem;">Fuel Your Future with Knowledge</h1>
        <p class="text-white mb-4" style="font-size: 1.1rem;">Explore our wide range of courses designed to enhance your skills and knowledge.</p>
        <button type="button" class="btn btn-primary btn-lg justify-content-center" data-bs-toggle="modal" data-bs-target="#videoModal">
            ▶ 
        </button> <!-- maybe i will name the button (get to know us )-->        
    </div>
</section>

<!-- Video Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="ratio ratio-16x9">
          <iframe id="youtubeVideo" src="" 
                  data-src="https://www.youtube.com/embed/F1f6VO7Slhk" 
                  title="YouTube video" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
