{% extends "training/base.html" %}
{% load static %}

{% block title %}Courses{% endblock %}

{% block content %}
    <div class="properties-container">
        <h2>Our Courses</h2>
        <div class="properties-list">
            {% for course in courses %}
                <div class="property-item">
                    {% if course.image %}
                        <img src="{{ course.image.url }}" alt="{{ course.title }}" class="course-image">
                    {% else %}
                        <img src="{% static 'images/default.png' %}" alt="Default Image" class="course-image">
                    {% endif %}
                    <h3>{{ course.title }}</h3>
                    {% if user.is_authenticated and user.role == 'employee' %}
                        <form action="{% url 'start_course' course.id %}" method="get">
                            <button type="submit">Enroll</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
